.search-container {
  max-width: 800px;
  margin-left: 180px;
  padding: 300px;
  background: linear-gradient(rgb(98, 37, 48), rgba(0, 0, 0, 1));
  min-height: 100vh;
  padding-top: 20px;
}

.name {
  margin-top: 0;
  font-family: serif;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.search {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.search-item {
  background-color: #f3f3f3;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-image img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.search-content {
  margin-top: 10px;
}

.search-name {
  margin: 0;
  font-size: 18px;
}

.search-type {
  margin: 5px 0;
  font-size: 14px;
}

.search-id,
.search-uri,
.search-year {
  margin: 3px 0;
  font-size: 12px;
  color: #777;
}
/* Media query for screens smaller than 768px */
@media (max-width: 767px) {
  .search-container {
    margin-left: 20px; /* Adjust margin for better fit */
    margin-right: 20px; /* Adjust margin for better fit */
  }

  .name {
    padding-left: 20px; /* Adjust padding for better fit */
  }

  .search {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjust column width for better fit */
    gap: 10px; /* Adjust gap for better fit */
  }

  .search-item {
    padding: 5px; /* Adjust padding for better fit */
  }

  .search-name {
    font-size: 16px; /* Adjust font size for better fit */
  }

  .search-type {
    font-size: 12px; /* Adjust font size for better fit */
  }

  .search-id,
  .search-uri,
  .search-year {
    font-size: 10px; /* Adjust font size for better fit */
  }
}


