
.sidebar {
  border: 1px solid black;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 100; /* Ensure sidebar is above other content */
  color: white;
  padding: 10px;
  width: 70%; /* Adjust sidebar width for better fit on phones */
  max-width: 250px; /* Limit maximum width for larger screens */
  background-color: black;
  overflow-y: auto; /* Add scrollbar if content overflows */
}

/* Adjust other styles as needed */


.sidebar__option {
  text-decoration: none;
  color: white;
  display: block;
  margin-bottom: 10px;
}

.sidebar > hr {
  border: 1px solid #282828;
  width: 90%;
  margin: 10px auto;
}

.sidebar__logo {
  height: 70px;
  padding: 10px 0;
}

.sidebar__title {
  font-size: 12px;
}

.sidebar__songs {
  font-size: 18px;
  font-family: serif;
}

/* Media query for screens smaller than 768px */
@media (max-width: 767px) {
  .sidebar {
    flex: 0.3; /* Adjust sidebar width for better fit */
  }

  .sidebar__title {
    font-size: 10px; /* Adjust font size for better fit */
  }

  .sidebar__songs {
    font-size: 14px; /* Adjust font size for better fit */
  }
}

/* Media query for screens between 768px and 991px */
@media (min-width: 768px) and (max-width: 991px) {
  .sidebar {
    flex: 0.25; /* Adjust sidebar width for better fit */
  }
}

/* Media query for screens larger than 992px */
@media (min-width: 992px) {
  /* Add your styles here if needed */
}
