.sidebar {
  border: 1px solid black;
  height: 100%;
  position: fixed;
  flex: 0.2;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 230px;
  height: 100vh;
  background-color: black;
}
.sidebar__option {
  text-decoration: none;
}
.sidebar > hr {
  border: 1px solid #282828;
  width: 90%;
  margin: 10px auto;
}
.sidebar__logo {
  margin-right: auto;
  height: 70px;
  padding: 10px;
  padding-left: 0px;
}

.sidebar__title {
  margin-left: 10px;
  padding: 5px;
  font-size: 12px;
}
.active {
  color: red;
}
.sidebar__songs {
  font-size: 18px;
  font-family: serif;
}
/* Media query for screens smaller than 768px */
@media (max-width: 767px) {
  .sidebar {
    flex: 0.3; /* Adjust sidebar width for better fit */
  }

  .sidebar__title {
    font-size: 10px; /* Adjust font size for better fit */
  }

  .sidebar__songs {
    font-size: 14px; /* Adjust font size for better fit */
  }
}

/* Media query for screens smaller than 768px */
@media (max-width: 767px) {
  .sidebar {
    width: 100%; /* Adjust sidebar width to cover the entire screen */
    padding: 10px; /* Add padding to the sidebar */
    z-index: 1; /* Ensure sidebar stays on top */
    overflow-y: auto; /* Add scrolling for smaller screens */
  }
}

/* Media query for screens between 768px and 991px */
@media (min-width: 768px) and (max-width: 991px) {
  .sidebar {
    width: 60px; /* Adjust sidebar width for better fit */
    padding-top: 70px; /* Add top padding to accommodate header */
  }
}

/* Media query for screens larger than 992px */
@media (min-width: 992px) {
  .sidebar {
    flex: 0.2; /* Adjust sidebar width as needed */
  }
}