.sidebarOption {
    display: flex ;
    align-items: center;
    color: grey;
    height: 40px;
    cursor: pointer;
    transition: 200ms color ease-in;
    overflow: hidden;
}
.sidebarOption :hover{
    color: white;
}
.sidebarOption__icon {
    padding-left: 10px;
    padding-right: 10px;
}
.sidebarOption > p {
    margin-top: 10px;
    margin-left: 20px;
    font-size: 14px;

}
/* Media query for screens smaller than 768px */
@media (max-width: 767px) {
    .sidebarOption > p {
      font-size: 12px; /* Adjust font size for better fit */
    }
  }
  
  /* Media query for screens between 768px and 991px */
  @media (min-width: 768px) and (max-width: 991px) {
    .sidebarOption > p {
      font-size: 13px; /* Adjust font size for better fit */
    }
  }
  
  /* Media query for screens larger than 992px */
  @media (min-width: 992px) {
    /* Add your styles here if needed */
  }